*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --darkgrey: #2C3E50;
    --pastel-green: #1ABC9C;
    --nightblue: #3A546D;
    --lightgrey: #2C3E50;
    --white-text: #F3FBFA;
    --white100: #ffffff;
    --black100: #000000;

    --gg-fs-smaller: 12px;
    --gg-fs-small: 14px;
    --gg-fs-medium: 20px;
    --gg-fs-large: 25px;
    --gg-fs-larger: 30px;
    --gg-fs-36: 36px;
    --gg-fs-50: 50px;
    --gg-fs-60: 60px;
}

/* COMMON */
body{
    background-color: var(--white100);
    color: var(--black100);
}

.my-bg-black{
    background-color: var(--darkgrey);
}

.bg-green{
    background-color: var(--pastel-green);
}

.bg-grey{
    background-color: var(--nightblue);
}

.bg-dark-grey{
    background-color: var(--lightgrey);
}

.line-h{
    height: 3px;
    background-color: var(--white100);
    width: 4.5rem;
}

.container-tight{
    width: 70%;
}

.separate::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: var(--white100);
    margin-left: 6px;
    vertical-align: middle;
}

/* MY FONTS */

.gg-fs-medium{
    font-size: var(--gg-fs-medium);
}

.gg-fs-large{
    font-size: var(--gg-fs-large);
}

.gg-fs-36{
    font-size: var(--gg-fs-36);
}

.gg-fs-50{
    font-size: var(--gg-fs-50);
}

.gg-fs-60{
    font-size: var(--gg-fs-60);
}

/* MY BACKGROUND COLORS */

.gg-bg-black{
    background-color: var(--black100);
}

/* HEADER */

header{
    background-color: var(--darkgrey);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 800;
}

header .nav-link{
    color: var(--white100);
}

header .hover-green:hover{
    color: var(--pastel-green);
}

/* MAIN */
#hero{
    padding-top: 100px;
}

#hero img.avatar{
    width: 70%;
    max-width: 100%;
}

.layover-container::after{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, .5);
    font-size: 80px;
    font-weight: 800;
    color: var(--white100);

    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.layover-container:hover::after{
    opacity: 1;
}

/* FOOTER */

footer #footer-top .social-icon{
    width: 50px;
    height: 50px;
}